
/* header */
.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 0 5px #000000;

}




/* sidebar: logo */
.skin-blue .main-header .logo {
  background:linear-gradient(180deg, rgba(42,190,231,1) 0%, rgba(21,145,176,1) 100%);
}
/* sidebar: logo hover */
.skin-blue .main-header .logo:hover {
  background:linear-gradient(180deg, rgba(42,190,231,1) 0%, rgba(21,145,176,1) 100%);
}
/* sidebar: collapse button  */
.skin-blue .main-header .navbar .sidebar-toggle {
  background:linear-gradient(180deg, rgba(42,190,231,1) 0%, rgba(21,145,176,1) 100%);
  color:#495057;

}
/* sidebar: collapse button hover */
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background:#495057;
  color:#2abee7;
}
/* header */
.skin-blue .main-header .navbar {
  background:linear-gradient(180deg, rgba(42,190,231,1) 0%, rgba(21,145,176,1) 100%);
  /*box-shadow: ', headerBoxShadowSize, ' ', headerBoxShadowColor, ';*/
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
/* sidebar*/
.skin-blue .main-sidebar {
  background:#162326;
  /*box-shadow: ', sidebarShadowRadius, " ", sidebarShadowColor, ';*/
  /*padding-left: ', sidebarPadding, 'px;*/
  /*padding-right: ', sidebarPadding, 'px;*/
  /* padding-top: 60px; */
}
/* sidebar menu */
.main-sidebar .user-panel, .sidebar-menu, .sidebar-menu> .header {
  white-space: nowrap;
  background:#162326;
  /*padding: ', sidebarMenuPadding, 'px;*/
}

.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a {
  border-left-color: #1dabd2;
}


/* tabs 
.nav-tabs li.active:hover a {
     background-color: #1dabd2;
     border-color: transparent;
}

.nav-tabs a {
     background-color: red;
     border-color: transparent;
}

.nav-tabs li.active a {
     color: #1dabd2;
       font-weight: bold;
  font-size: 30px;
     border-color: transparent;
}
.nav-tabs li{
  background-color:red;
}
*/



.box {
  background:#FFFFFF;
  border-radius:5px;
  /*box-shadow:;*/
}

.box-header .box-title {
  font-size:20px;
}


/* box: default color */
.box.box-solid>.box-header, .box>.box-header {
  color:#000000;
}

.box.box-solid, .box {
  border-radius:5px;
  border-top-color:#7DC9F5;
  border-color:#7DC9F5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.box.box-solid, .box:hover {
  border-radius:5px;
  border-top-color:#7DC9F5;
  border-color:#7DC9F5;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

/* box: primary color */
.box.box-solid.box-primary>.box-header h3, .box.box-primary>.box-header h3 {
  color:#7DC9F5;
}
.box.box-solid.box-primary>.box-header {
  background:#7DC9F5;
  border-radius:5px;
}
.box.box-solid.box-primary, .box.box-primary {
  border-color:#7DC9F5;
  border-left-color:#7DC9F5;
  border-right-color:#7DC9F5;
  border-top-color:#7DC9F5;
  border-radius:5px;
}




/* buttons */


